@import '../Header.scss';
@import '../../../scss/variables.scss';

.navbar-top-container {
    background-color: $theme-color;
    flex: 6;

    display: flex;
    justify-content: center;
}

.nav-top {
    width: $nav-width;

    display: flex;
    min-height: 70px;
}



.logo {
    padding: 15px 15px 15px 0;
    margin-right: 10px;
    display: flex;
    align-items: center;
    font-size: 28px;
    font-weight: 700;
    color: #c42f21;
}

.search-container {
    display: flex;
    align-items: center;
    width: 80%;
}

.search-icon {
    padding: 8px 10px;
    background: #fff;
    border-right: none;
    color: #888888;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}

.search-input {
    // min-width: 50px;
    height: 35px;
    border-width: 0;
    border-radius: 0 2px 2px 0;
    padding: 0;
    outline: none;
    width: 100%;
}


.location {
    display: flex;
    align-items: center;
}

.authentication {
    display: flex;
    align-items: center;
    margin-left: 25px;
}

.user-logo {
    font-size: 30px;
    display: flex;
    margin-right: 8px;
}

.location-carat {
    margin-left: 5px;
    display: flex;
}