@import '../../scss/variables.scss';


.navbar-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    color: #fff;
    min-height: 100px;
}





.nav-left {
    flex: 6;
    display: flex;
}

.nav-right {
    flex: 4;

    display: flex;
    justify-content: flex-end;
}






